
<p>
  <%= student.label :name %>
  <%= student.text_field :name %>
</p>
<p>
  <%= student.label :hometown %>
  <%= student.text_field :hometown %>
</p>
<p>
  <%= student.label :birthday %>
  <%= student.date_field :birthday %>
</p>
  <%= student.submit %>

